<footer class="footer">
    <article class="container-fluid">
        <section class="row">
            <article class="col-md-6">
                <script>
                    document.write((new Date().getFullYear()).toString())
                </script>
                © Anthony DURET
            </article>
            <article class="col-md-6">
                <section class="text-md-end footer-links d-none d-md-block">
                    <a href="https://www.axecash.com">
                        Marketplace
                    </a>
                    <a href="mailto:anthony.duret@outlook.fr">
                        Support
                    </a>
                </section>
            </article>
        </section>
    </article>
</footer>
